*.pyc
.DS_Store
project.db
*.sqlite3
collected_static
*.sublime-workspace
project/envs/keys_and_passwords_private.py
keys_and_passwords_private.py
project/media_root/*
chromedriver.log
ghostdriver.log
celerybeat-schedule
venv/*
source/*

