boto
django-celery-with-redis
django<1.6
django-analytical>=0.12.1
django-annoying
django-allauth
django_compressor
django-heroku-memcacheify
django-heroku-postgresify
django-http-proxy
django-extensions
django-nose
django-staticfiles
django-storages
django-ses
fabric
gunicorn
psycopg2
south

# Dev only
django-debug-toolbar