#mindfulBrowsingConfirm, #mindfulBrowsingPopup {
    font-size: 16px;
    font-family: Lato, "Helvetica Neue", sans-serif;
    font-weight: 300;
    background-color: #888;
    z-index: 100;

    background: url('chrome-extension://__MSG_@@extension_id__/images/lookout.jpg') no-repeat center center fixed;

    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    z-index: 1;
}
/* Confirm page */
#mindfulBrowsingConfirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999999999;

    text-align: center;
}
#mindfulBrowsingConfirm #container {
    top: 0;
}
#mindfulBrowsingConfirm h1, #mindfulBrowsingConfirm h2, #mindfulBrowsingPopup h1, #mindfulBrowsingPopup h2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
#mindfulBrowsingConfirm h1 {
    margin-bottom: 40px;
}
#mindfulBrowsingConfirm h2 {
    font-size: 20px;
}
#mindfulBrowsingConfirm .mindfulBrowsingHeading {
    /*background: rgba(255, 255, 255, 0.1);*/
    padding: 50px 0;
    font-size: 20px;
    margin: 80px auto;
}
#mindfulBrowsingConfirm a.mindfulBtn, #mindfulBrowsingPopup, a.mindfulBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #CCC;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.4);
    transition: background 0.4s ease, color 0.4s ease;
}
#mindfulBrowsingConfirm a.mindfulBtn:hover, #mindfulBrowsingPopup a.mindfulBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
#mindfulBrowsingConfirm #mindfulBrowsingPhotoCredit {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
}

/* Popup */
#mindfulBrowsingPopup {
    z-index: 100;
    color: rgba(255, 255, 255, 0.9);
    width: 600px;
    
}
#mindfulBrowsingPopup .logo {
    display: block;
    width: 100%;
    padding: 0;
    font-weight: 100;
    color: #FFF;
    opacity: 1;
}
#mindfulBrowsingPopup .logo a {
    outline: none;
    color: #FFF;
    text-decoration: none;
}
#mindfulBrowsingPopup .logo img {
    vertical-align: middle;
    padding-bottom: 4px;
}
#mindfulBrowsingPopup h2 {
    margin: 20px 0 0 0;
    font-size: 30px;
}
#mindfulBrowsingPopup h2 small {
    display: block;
    font-size: 18px;
}
#mindfulBrowsingPopup, a.mindfulBtn {
    /*padding: 0;*/
    margin: 5px 0;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
#mindfulBrowsingPopup a.removeX {
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 6px;
    cursor: pointer;
}
#mindfulBrowsingPopup .responses {
    padding-left: 20px;
}
#mindfulBrowsingPopup input {
    border-radius: 2px;
    background: rgba(255,255,255, 0.3);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 4px;
    outline: none;

    font-family: Lato, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 100;
    width: 400px;
    border: 0px;
}
#mindfulBrowsingPopup input::-webkit-input-placeholder{ 
    color: rgba(255, 255, 255, 0.6);
}
#mindfulBrowsingPopup label {
    font-weight: 100;
    display: inline-block;
    width: 80px;
    text-align: right;
    padding-right: 6px;
    color: rgba(255, 255, 255, 0.9);
}