#mindfulBrowsingConfirm html, #mindfulBrowsingConfirm body, #mindfulBrowsingConfirm div, #mindfulBrowsingConfirm span, #mindfulBrowsingConfirm applet, #mindfulBrowsingConfirm object, #mindfulBrowsingConfirm iframe,
#mindfulBrowsingConfirm h1, #mindfulBrowsingConfirm h2, #mindfulBrowsingConfirm h3, #mindfulBrowsingConfirm h4, #mindfulBrowsingConfirm h5, #mindfulBrowsingConfirm h6, #mindfulBrowsingConfirm p, #mindfulBrowsingConfirm blockquote, #mindfulBrowsingConfirm pre,
#mindfulBrowsingConfirm a, #mindfulBrowsingConfirm abbr, #mindfulBrowsingConfirm acronym, #mindfulBrowsingConfirm address, #mindfulBrowsingConfirm big, #mindfulBrowsingConfirm cite, #mindfulBrowsingConfirm code,
#mindfulBrowsingConfirm del, #mindfulBrowsingConfirm dfn, #mindfulBrowsingConfirm em, #mindfulBrowsingConfirm img, #mindfulBrowsingConfirm ins, #mindfulBrowsingConfirm kbd, #mindfulBrowsingConfirm q, #mindfulBrowsingConfirm s, #mindfulBrowsingConfirm samp,
#mindfulBrowsingConfirm small, #mindfulBrowsingConfirm strike, #mindfulBrowsingConfirm strong, #mindfulBrowsingConfirm sub, #mindfulBrowsingConfirm sup, #mindfulBrowsingConfirm tt, #mindfulBrowsingConfirm var,
#mindfulBrowsingConfirm b, #mindfulBrowsingConfirm u, #mindfulBrowsingConfirm i, #mindfulBrowsingConfirm center,
#mindfulBrowsingConfirm dl, #mindfulBrowsingConfirm dt, #mindfulBrowsingConfirm dd, #mindfulBrowsingConfirm ol, #mindfulBrowsingConfirm ul, #mindfulBrowsingConfirm li,
#mindfulBrowsingConfirm fieldset, #mindfulBrowsingConfirm form, #mindfulBrowsingConfirm label, #mindfulBrowsingConfirm legend,
#mindfulBrowsingConfirm table, #mindfulBrowsingConfirm caption, #mindfulBrowsingConfirm tbody, #mindfulBrowsingConfirm tfoot, #mindfulBrowsingConfirm thead, #mindfulBrowsingConfirm tr, #mindfulBrowsingConfirm th, #mindfulBrowsingConfirm td,
#mindfulBrowsingConfirm article, #mindfulBrowsingConfirm aside, #mindfulBrowsingConfirm canvas, #mindfulBrowsingConfirm details, #mindfulBrowsingConfirm embed, #mindfulBrowsingConfirm 
#mindfulBrowsingConfirm figure, #mindfulBrowsingConfirm figcaption, #mindfulBrowsingConfirm footer, #mindfulBrowsingConfirm header, #mindfulBrowsingConfirm hgroup, #mindfulBrowsingConfirm 
#mindfulBrowsingConfirm menu, #mindfulBrowsingConfirm nav, #mindfulBrowsingConfirm output, #mindfulBrowsingConfirm ruby, #mindfulBrowsingConfirm section, #mindfulBrowsingConfirm summary,
#mindfulBrowsingConfirm time, #mindfulBrowsingConfirm mark, #mindfulBrowsingConfirm audio, #mindfulBrowsingConfirm video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
}
/* HTML5 display-role reset for older browsers */
#mindfulBrowsingConfirm article, #mindfulBrowsingConfirm aside, #mindfulBrowsingConfirm details, #mindfulBrowsingConfirm figcaption, #mindfulBrowsingConfirm figure, #mindfulBrowsingConfirm 
footer, #mindfulBrowsingConfirm header, #mindfulBrowsingConfirm hgroup, #mindfulBrowsingConfirm menu, #mindfulBrowsingConfirm nav, #mindfulBrowsingConfirm section {
    display: block;
}
#mindfulBrowsingConfirm {
    line-height: 1;
}
#mindfulBrowsingConfirm ol, #mindfulBrowsingConfirm ul {
    list-style: none;
}
#mindfulBrowsingConfirm blockquote, #mindfulBrowsingConfirm q {
    quotes: none;
}
#mindfulBrowsingConfirm blockquote:before, #mindfulBrowsingConfirm blockquote:after,
q:before, #mindfulBrowsingConfirm q:after {
    content: '';
    content: none;
}
#mindfulBrowsingConfirm table {
    border-collapse: collapse;
    border-spacing: 0;
}

#mindfulBrowsingConfirm, #mindfulBrowsingPopup {
    display: block;
    font-size: 16px;
    font-family: Lato, "Helvetica Neue", sans-serif;
    font-weight: 300;
    background-color: #888;
    z-index: 100;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    z-index: 1;
}

/* Confirm page */
#mindfulBrowsingConfirm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    z-index: 9999999999;
    background-color: rgba(97, 144, 187, 0.92);

    text-align: center;
}
#mindfulBrowsingConfirm div {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    border-radius: 0;

}
#mindfulBrowsingConfirm #container {
    top: 0;
}
#mindfulBrowsingConfirm h1, #mindfulBrowsingConfirm h2, #mindfulBrowsingPopup h1, #mindfulBrowsingPopup h2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 100;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#mindfulBrowsingConfirm h1 {
    margin-bottom: 40px;
}
#mindfulBrowsingConfirm h2 {
    font-size: 20px;
}
#mindfulBrowsingConfirm .mindfulBrowsingHeading {
    /*background: rgba(255, 255, 255, 0.1);*/
    padding: 50px 0;
    font-size: 20px;
    margin: 60px auto 120px 0;
}
#mindfulBrowsingConfirm a.mindfulBtn, #mindfulBrowsingPopup, a.mindfulBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 50px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #CCC;
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.4);
    transition: background 0.4s ease, color 0.4s ease;
}
#mindfulBrowsingConfirm a.mindfulBtn:hover, #mindfulBrowsingPopup a.mindfulBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,0.6);
}
#mindfulBrowsingConfirm #mindfulBrowsingPhotoCredit {
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

/* Popup */
#mindfulBrowsingPopup {
    z-index: 100;
    color: rgba(255, 255, 255, 0.9);
    width: 600px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/lookout.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}
#mindfulBrowsingPopup .logo {
    display: block;
    width: 100%;
    padding: 0;
    font-weight: 100;
    color: #FFF;
    opacity: 1;
}
#mindfulBrowsingPopup .logo a {
    outline: none;
    color: #FFF;
    text-decoration: none;
}
#mindfulBrowsingPopup .logo img {
    vertical-align: middle;
    padding-bottom: 4px;
}
#mindfulBrowsingPopup h2 {
    margin: 20px 0 0 0;
    font-size: 30px;
}
#mindfulBrowsingPopup h2 small {
    display: block;
    font-size: 18px;
}
#mindfulBrowsingPopup, a.mindfulBtn {
    /*padding: 0;*/
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
#mindfulBrowsingPopup a.mindfulBtn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.9);
}
#mindfulBrowsingPopup a.removeX {
    text-decoration: none;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 6px;
    cursor: pointer;
}
#mindfulBrowsingPopup .response:hover a.removeX {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5)
}

#mindfulBrowsingPopup .responses {
    padding: 10px 0 0 0;
}
#mindfulBrowsingPopup .responses.thingsToDo {
    padding-left: 20px;
}
#mindfulBrowsingPopup input {
    border-radius: 2px;
    background: rgba(255,255,255, 0.3);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px 4px;
    outline: none;

    font-family: Lato, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 100;
    width: 400px;
    border: 0px;
}
#mindfulBrowsingPopup .response:hover input, #mindfulBrowsingPopup input:focus {
    background: rgba(255,255,255, 0.4);
    font-weight: 300;
}
#mindfulBrowsingPopup .responses.thingsToDo input { 
    width: 445px;
}
#mindfulBrowsingPopup input::-webkit-input-placeholder{ 
    color: rgba(255, 255, 255, 0.6);
}
#mindfulBrowsingPopup label {
    font-weight: 100;
    display: inline-block;
    width: 60px;
    text-align: right;
    padding-right: 6px;
    color: rgba(255, 255, 255, 0.9);
}