{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="home page_content">
    <h1>Are you sure you want to go to facebook?</h1>

    <a href="#" class="button btn">Yes, for 5 minutes</a>
    <a href="#" class="button btn">Yes, for the rest of today</a>
    <a href="#" class="button btn">Actually, No. Thanks!</a>
</div>
{% endblock %}